<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>tiger-connect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.tigerconnect.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  
<servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.tigerconnect.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>BasicInformation</servlet-name>
    <servlet-class>com.tigerconnect.BasicInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicInformation</servlet-name>
    <url-pattern>/basicinfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PersonalityInfo</servlet-name>
    <servlet-class>com.tigerconnect.PersonalityInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalityInfo</servlet-name>
    <url-pattern>/personality</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InterestInfo</servlet-name>
    <servlet-class>com.tigerconnect.InterestInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterestInfo</servlet-name>
    <url-pattern>/interest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Connections</servlet-name>
    <servlet-class>com.tigerconnect.Connections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connections</servlet-name>
    <url-pattern>/connect</url-pattern>
  </servlet-mapping>
  
</web-app>
